body {
    background-color: rgb(239, 229, 214) !important;
    background-image: rgb(239, 229, 214) !important;
}
.navbar {
    background-color: #1f6fc1!important;
}

.nav-link {
    color: white!important;
}

.navbar-brand {
    color: #e38022 !important;
}

.navbar-brand:hover {
    color: #e38022;
}

main {
    background-color: white;
}

.o-container {
    margin: 0 auto;
    padding: 4em;
    border-radius: 10px 10px 0 0;
    border: 1px solid lightgray;
}


.donbosco {
    border-radius: 3px;
}

.card-img-top {
    height: 100px!important;
    width: 100px!important;
}

.card {
    height: 450px!important;
}


