*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #1f6fc1!important;
}

.nav-link {
    color: white!important;
}

.navbar-brand {
    color: #e38022;
}

.navbar-brand:hover {
    color: #e38022;
}

.form-egre{
    width: 912px;
    background: #526f8d;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}

.form-egre h1{
    font-size: 22px;
    margin-bottom: 20px;
}

.formu{
    width: 100%;
    background: #3b4b5b;
    padding: 7px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #e47d1a;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-egre .botons{
    width: 100%;
    background: #24303c;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
}
